.campus{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.gallery img{
    width: 23%;
    border-radius: 10px;
}
.new-img{
    height: 265px;
}
/*---media query--*/

@media (max-width: 800px){
    .gallery{
        flex-wrap: wrap;
    }
    .gallery img{
        width: 48%;
        margin-bottom: 25px;

    }
    .new-img{
        height: 100px;
    }
    
}

@media (max-width: 1150px){
    
    .new-img{
        height: 270px;
    }
}
@media (max-width: 450px){
    
    .new-img{
        height: 210px;
    }
}